* {
    font-family: sans-serif;
    /* color: white*/
}

body {
    color: white;
}

#bg-image {
    background-image: url(https://mocah.org/thumbs/1067805-sport-race-cars-car-Formula-1-Red-Bull-Racing-racing-Sebastian-Vettel-screenshot-computer-wallpaper-winter-sport.jpg);
    /*  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSggmrp-C7qjnaq1f5n25TmnjL2Wvdv0Ibsw&usqp=CAU);*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-size: cover;
}

#rbteamlogo{
    padding: 0px;
    margin: 15px;


}

#Champion2021 {
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(2, 21, 168);
}

#pagewrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.statBox {
    background-color: #B2BEB540;
}

.quickStats span {
    color: whitesmoke;
}

.statBar {
    background-color: #B2BEB520;
    font-weight: 300;
    margin-top: 12px !important;
}