* {
    font-family: sans-serif;
    /* color: white*/
}

body {
    background-color: #68BBE3;
}

#bg-image {
    background-image: url(https://images.unsplash.com/photo-1625052164923-bc7520ec4555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    z-index: -1;
    background-size: cover;
}


#rbteamlogo {
    padding: 0px;
    margin: 15px;
}

#Champion2021 {
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(2, 21, 168);
}

#pagewrapper {
    height: calc(100vh - 60px);
    width: 100vw;
    max-width: 100%;
    overflow-y: auto;
    margin-bottom: -60px;
}

#aboutMeHeader {
    font-size: 36px;
}

#weatherForm,
#aboutMeCtn {
    background-color: #003060;
    color: white;
}

.indented {
    text-indent: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.imgContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imgContainer img {
    height: 30vh;
    width: auto;
    padding-top: 15px;
}

.statBox {
    background-color: #B2BEB540;
}

.quickStats span {
    color: whitesmoke;
}

.statBar {
    background-color: #B2BEB520;
    font-weight: 300;
    margin-top: 12px !important;
}

.rivalimg {
    align-self: bottom !important;
    height: auto;
    width: 100%;
}

.comparePage {
    color: white;
}

.raceWeatherCtn {
    background-color: grey;
    border: 2px solid black;
    padding: 8px 20px 20px 20px;
    margin: 10px;
    font-size: 20px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activeTemp {
    border-bottom: 4px solid black;
}